@import "tailwindcss";

@theme {
    --font-lilex: 'Lilex', monospace; 
    --font-caveat: 'Caveat', cursive; 
    --font-work-sans: 'Work Sans', sans-serif; 
    --font-eb-garamond: 'EB Garamond', serif;
    --breakpoint-xs: 25rem;
}
